/* @import '~antd/dist/antd.css'; */
@import '~antd/dist/antd.dark.less';


.ant-tag {
  pointer-events: none;
}

.ant-rate {
  pointer-events: none;
}

.ant-menu-item:hover {
  border-bottom: none;
}
.trigger-card-hover:hover + .ant-card {
  transition: box-shadow 0.3s, border-color 0.3s
}

.ant-card-hover:hover {
  // box-shadow: 0 3px 6px -4px rgb(110, 110, 110);
  box-shadow: -4px 6px 6px -4px rgb(80, 80, 80);
}

#left-card .ant-card-body {
  height: 100%;
  flex-direction: column;
  display: 'flex';
}

.ant-carousel .slick-list .slick-slide > div > div {
  display: flex !important;
  justify-content: center;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: 20px;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}

.ant-avatar {
  display: flex;
  margin: auto;
}
.ant-avatar img {
  border-radius: 300px;
  border: 1px solid #303030;
}

.ant-card-meta-title {
  font-size: 1.2rem;
}

.ant-card-bordered {
  border: 2px solid #303030;
}

.ant-card-bordered .ant-card-cover {
    margin-left: 0px;
    margin-top: 1px;
    margin-right: -1px;
}

.ant-rate-star:not(:last-child) {
  margin-right: 4px;
}

.ant-statistic-content {
  font-size: 1rem;
  padding-bottom: 8px;
}

.ant-statistic {
  text-align: left;
}
.ant-layout-header {
  height: 10vh;
  display: flex;
  padding: unset;
  min-width: 700px;
}

.ant-page-header {
  background-color: #1f1f1f;
  padding: 16px 0 16px 0;
  min-width: 830px;
}
.App {
  text-align: center;
  min-height: 98vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
