/* @import '~antd/dist/antd.css'; */
@import '~antd/dist/antd.dark.less';


.ant-card-meta-title {
  font-size: 1.2rem;
}

.ant-card-bordered .ant-card-cover {
    margin-left: 0px;
    margin-top: 1px;
    margin-right: 1px;
}

.ant-rate-star:not(:last-child) {
  margin-right: 4px;
}

.ant-statistic-content {
  font-size: 1rem;
  padding-bottom: 8px;
}

.ant-statistic {
  text-align: left;
}
.ant-layout-header {
  height: 7vh
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
